<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzuli.gaokao.mapper.UniversityTagsMapper">

    <select id="selectCustom" resultType="java.util.Map">
        select
            u.school_id,u.school_name,u.header_url,
            tags.type_name,tags.school_type_name,tags.school_nature_name,
            tags.f211,tags.f985,tags.dual_class_name,tags.id,tags.province_id
            from university u
            inner join university_tags tags on u.school_id = tags.school_id
            where 1 = 1
            and u.status != 2
        <if test="provinceId != null">
            and tags.province_id = #{provinceId}
        </if>
        <if test="schoolName != null">
            and u.school_name like CONCAT('%',#{schoolName},'%')
        </if>
    </select>
</mapper>